{% extends "base.html" %}
{% block content %}
<div class="posts">
    {% for post in post_list%}
        <section class="post">
            <header class="post-header">
                    <p class="post-meta">
                        <a class="post-author" href="#">{{ post.date_time|date:"Y /m /d" }}</a>&nbsp&nbsp
                        <a class="post-author" href="{% url 'detail' id_blog=post.id %}">{{ post.title }}</a>&nbsp&nbsp
                        <a class="post-category post-category-js" href="#">
                            {{ post.category }}</a>
                    </p>
            </header>
        </section>
    {% endfor %}
</div>
{% endblock %}